* {
  font-family: 'Roboto Mono';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

html, body {
  background: #fff;
  font-size: 16px;
  color: #000;
  margin: 0; padding: 0;
}

.container {
  display: flex;
  flex-direction: row;

  div {
    height: 100%;
  }

  .sidebar {
    width: 0;
    flex-shrink: 1;
    background: #2c4762;
    transition: 0.5s all;
    transform: translateX(-320px);

    &.show {
      width: 320px;
      transform: translateX(0);
    }
  }

  .editor {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      flex-basis: 44px;
      padding: 10px;
      
      .menu-btn {
        cursor: pointer;
        text-decoration: none;
        color: #CCC;
        padding: 10px 20px;
        margin: 10px;
        position: relative;

        i {
          font-style: normal;
          font-size: 30px;
          position: absolute;
          left: 0; top: 0;
        }
      }
    }

    .content {
      flex: 1;

      .edit-zone {
        max-width: 900px;
        margin: 0 auto;
      }
    }
  }
}
